

h1{font-family: Arial, Helvetica, sans-serif }
.Heading{
        position: absolute;
        margin: auto;
        width: 600px; 
        top: 100px;
        left: -5%;
        font-size: 60px;
        text-align: center;
        color: white;
        font-family: Arial, sans-serif;
        position: fixed;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: ease-out ;
        -webkit-backface-visibility: hidden;
                animation-name: slideIn;
                animation-duration: 1s;
                animation-timing-function: ease-out;
                backface-visibility: hidden;
            
}

        @-webkit-keyframes slideIn {
                from {left: -50%; opacity: 0} 
                to   {left: -5%; opacity: 1}
        }
        @keyframes slideIn {
                from {left: -50%; opacity: 0} 
                to   {left: -5%; opacity: 1}
        
        }
        