.heading {
    position: static;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top: 50%;
    padding: 1.5em 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 99;
  }
  


.heading a {
    
    
    font-size: 0.889rem;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.555em 1.5em;
    display: block;
    margin-top: 0.5em;
    border-radius: 2.5em;
    background-color: rgba(71, 71, 71, 0.658);
    color: #ffffff;
    transition: 0.25s transform;
  }
  
  .heading a:hover {
    transform: scale(1.075);
  }